<h1>DETALHES DO CARD</h1>
<a href="/">Voltar</a>
<div>
    
    {{#each data}}
 

            <p> {{this.id}} </p>
            <p> {{this.destino}} </p>
            <p> {{this.duracao}} </p>
            <p> {{this.preco}} </p>

    {{/each}}

</div>