<div class="container-card-item">
    <h1>{{this.destino}}</h1>
    <p> {{this.duracao}} </p>
    <p> {{this.preco}} </p>

    <a href="/carddetails/{{this.id}}">Clique aqui para ver os detalhes</a>
</div>